/Cj2356InputMethod2/assets/database/cjmbdb.db
/Cj2356InputMethod2/gen/com/zzz/cj2356inputMethod/R.java
/Cj2356InputMethod2wugniu/assets/database/cjmbdb.db
/Cj2356InputMethod2wugniu/gen/com/zzz/cj2356inputMethod/R.java
