# 輸入法的顺序
im.order.type=cj,en,else
im.order.en=aa,Aa,AA,ᴀᴀ,ⓐⓐ,Ⓐⓐ,ⒶⒶ,⒜

# im.order.cj=cj6,cj5,cj35,cj3,cjyhqm,cjms,cj2
# im.order.en=aa,Aa,AA,ᴀᴀ,sa,Sa,SA,ⓐⓐ,Ⓐⓐ,ⒶⒶ,⒜
im.order.en=aa,Aa,AA,ᴀᴀ,sa,Sa,SA
im.order.cj=cj6,cj5,cj3,cjyhqm,cjms,cj2
im.order.else=pinyin,jyutp,kohan,ipa,sghm,karina,korea,manju,zyfh
im.order.cjdict=cj6,cj5,cj3,cjyhqm,cjms,cj2,sghm

# pure 3
# im.order.en=aa,Aa,AA
# im.order.cj=cj3
# im.order.else=pinyin,jyutp,ipa,zyfh
# im.order.cjdict=cj3

# pure 5
# im.order.en=aa,Aa,AA
# im.order.cj=cj5
# im.order.else=pinyin,jyutp,ipa,zyfh
# im.order.cjdict=cj5
